@model WebApplication2.Models.products

@{
    /**/

    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.DisplayNameFor(x => x.BrandName)
        @Html.TextBoxFor(x => x.BrandName)
    </div>

    <div class="form-group">
        @Html.DisplayNameFor(x => x.Description)
        @Html.TextBoxFor(x => x.Description)
    </div>
    <div class="form-group">
        @Html.DisplayNameFor(x => x.ModeINO)
        @Html.TextBoxFor(x => x.ModeINO)
    </div>

    <div><button type="submit" class="btn btn-success btn-block">save</button></div>





}
